<table class= "table table-bordered" id= "tabla-productos" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>id</th>
            <th>UserName</th>
            <th>Description</th>
            <th>Mostrar</th>
        <tr>
    </thead>
    <tbody>
        <% @tweets.each do |tweet|%>
            <tr>
                <td><%= tweet.UserName %></td>
                <td><%= tweet.Description %></td>
            </tr>
            <% end %>
        </tbody>
    </table>
    </tbody>
</table>
    
        